main {
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 20px;
    color: #434343;
    margin: 0px auto;
}

h1 {
    color: #113340;
}

.text {
    display: inline-block;
    max-width: 500px;
}

@media (min-width: 1750px) {
    main {
        margin-left: 500px;
    }
}