main {
    margin: 0px auto;
}


/* filter Gender */

.filter-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.button-adjustment {
    place-self: center;
}


#filter, .filter-gender {
    display: none;
}
  
label:hover {
    cursor: pointer;
}
  
.filter-gender  {
    background-color: var(--rainydays-grey);
    border-radius: 5px;
    position: absolute;
    padding: 10px;
}

.gender-filter-button {
    margin-right: 15px;
}
    
#filter:checked ~ .filter-gender {
    display: block;
}
  

/* Image adjustment */
.product__images {
    width: 25vh;
    height: 25vh;
    object-fit: cover;
}

.image-1 {
    object-position: center top;
}

.image-3 {
    object-position: 65% 20% ;
}

.image-4 {
    object-position: center bottom;
}

.image-6 {
    object-position: center right;
}

.image-7 {
    object-position: center 95%;
}


/*media queries for this page */
@media (max-height: 1000px) {
    .size-container {
        margin-bottom: 0px;
    }
}

@media (max-width: 890px) {   
    .star-button-container,
    .name-price-container {
    display: grid;
    grid-template-columns: auto auto;
    }


    .name-price-container {
        display: flex;
        flex-direction: column;
    }

    .colours-container,
    .size-container,
    .stars {
        display: none;
    }

    .gender {
        margin-bottom: 20px;
    }

    .button {
        max-width: 100px;
    }

    .button-container {
        justify-self: left;
    }
    
}

@media (max-height: 780px) {
    .star-button-container {
    display: grid;
    grid-template-columns: auto auto;
    }

    .name-price-container {
        display: flex;
        flex-direction: column;
    }

    .colours-container,
    .size-container,
    .stars  {
        display: none;
    }

    .gender {
        margin-bottom: 20px;
    }

    .button {
        max-width: 100px;
    }

    .button-container {
        justify-self: left;
    }
    
}

@media (max-width: 390px) {
    .filter-sortby {
        right: 10px;
    }

    .filter-gender {
        left: 0px;
    }
}