main {
    margin: 0px auto;
}

.order-container {
    border: 1px solid var(--rainydays-grey);
    margin-bottom: 20px;
}

.personal-info {
    margin: 0px;
    font-size: 1.3rem;
    color: var(--text-light-grey);
}

h3 {
    font-weight: normal;
    color: var(--rainydays-blue);
}

.instagram-tag-placement {
    text-align: center;
    margin-bottom: 20px;
}

