h3 {
    font-weight: normal;
}

.form-container {
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 20px;
}

.input-container {
    display: grid;
    grid-template-rows: auto auto;

}

.input {
    border: 2px solid var(--rainydays-grey);
    border-radius: 5px;
    max-width: 200px;
    height: 30px;
    margin-bottom: 10px;
}

.checkbox {
    margin-bottom: 20px;
}
  
#billing-adress:checked ~ .billing-adress-container {
    display: none;
}

.remove-button-placement {
    display: grid;
    justify-items: end;
    margin: 0px 10px 20px 0px;
  }

/*media queries for this page*/
  @media (min-width: 851px) {
    main {
        margin: 0px 40vh 20px 40vh;
    }
  }


  @media (max-width: 850px) {
    main {
        margin: 0px auto;
    }
  }