main {
    margin: 0px auto;
}

.aside-section {
    margin-bottom: 20px
}

/* Image adjustment */
.product__images {
    width: 25vh;
    height: 25vh;
    object-fit: cover;
}

.image-1 {
    object-position: 30%;
}

.image-2 {
    object-position: center right;
}

.image-3 {
    object-position: 65% 20% ;
}

.name-price-container {
    display: grid;
    grid-template-columns: 20vh 25vh 5vh;
}


/* Specific media queries for this page*/
@media (max-width: 1100px) {
    .size-container {
        margin-bottom: 0px;
    }
}

@media (max-width: 1000px) {

    .aside-section {
        max-width: 500px;
    }

    .star-button-container {
    display: grid;
    grid-template-columns: auto auto;
    }

    .name-price-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .price-tag {
        order: 3;
    }
    .remove-x {
        order: -1;
        margin-left: 100px;
    }

    .name-price-container {
        display: flex;
        flex-direction: column;
    }
    
    .colours-container,
    .size-container,
    .stars {
        display: none;
    }

    .gender {
        margin-bottom: 20px;
    }

    .button {
        max-width: 100px;
    }

    .remove-button {
        max-width: 150px;
    }

    .button-container {
        justify-self: left;
    }
}


@media (max-height: 780px) {
    .aside-section {
        max-width: 350px;
    }

    .star-button-container {
    display: grid;
    grid-template-columns: auto auto;
    }

    .name-price-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .price-tag {
        order: 3;
    }
    .remove-x {
        order: -1;
        margin-left: 100px;
    }


    .colours-container,
    .size-container,
    .stars {
        display: none;
    }

    .gender {
        margin-bottom: 20px;
    }

    .button {
        max-width: 100px;
    }

    .remove-button {
        max-width: 150px;
    }

    .button-container {
        justify-self: left;
    }

    .remove-x {
        margin-left: 125px;
    }

    .gender {
        margin-bottom: 0px;
    }
    
}

@media (max-height: 580px) {
    .name-price-container {
        display: flex;
        flex-direction: column;
    }



}