main {
    margin: 0px auto;
}

/* filter Gender */
.filter-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* Image adjustment */
.product__images {
    width: 25vh;
    height: 25vh;
    object-fit: cover;
}

.image-1 {
    object-position: center top;
}

.image-2,
.image-5  {
    object-position: center bottom;
}

.image-3 {
    object-position: center right;
}

.image-7 {
    object-position: 30%;
}

/*media queries for this page */
@media (max-height: 1000px) {
    .size-container {
        margin-bottom: 0px;
    }
}

@media (max-width: 890px) {

    .star-button-container,
    .name-price-container {
    display: grid;
    grid-template-columns: auto auto;
    }


    .name-price-container {
        display: flex;
        flex-direction: column;
    }

    .colours-container,
    .size-container,
    .stars {
        display: none;
    }

    .gender {
        margin-bottom: 20px;
    }

    .button {
        max-width: 100px;
    }

    .button-container {
        justify-self: left;
    }
    
}

@media (max-height: 780px) {
    .aside-section {
        max-width: 500px;
    }

    .star-button-container {
    display: grid;
    grid-template-columns: auto auto;
    }

    .name-price-container {
        display: flex;
        flex-direction: column;
    }

    .colours-container,
    .size-container,
    .stars  {
        display: none;
    }

    .gender {
        margin-bottom: 20px;
    }

    .button {
        max-width: 100px;
    }

    .button-container {
        justify-self: left;
    }
    
}

@media (max-width: 390px) {
    .filter-sortby {
        left: 245px;
    }
}