main {
    margin: 0px auto;
}

h1 {
    color: #113340;
    font-weight: normal;
    margin: 0px;
}

.product-info-container {
   margin: 0px auto;
}

.Product-info-subcontainer,
.image-container {
    margin: 0px auto;
    max-width: 48vh;
}

.image-container {
    margin-top: 10px;
}

.image-reel-container {
    display: flex;
    justify-content: space-between;
    background-color: #bebdba;
    border-radius: 5px;
}

.image-reel {
    max-width: 100px;
    max-height: 130px;
    border-radius: 5px;
}

.image-reel:hover {
    cursor: pointer;
}

.product__images {
    width: 48vh;
    height: 50vh;
    object-fit: cover;
    object-position: center 30%;
    border-radius: 5px;
}

.image-reel-container {
    max-width: 48vh;
}

.heading-favorite-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gender-availability-container {
    display: grid;
    grid-template-columns: 1fr auto auto;
}

.fa-heart {
    align-self: center;
}

.in-stock {
    border: solid #738775;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin: 5px;
    background-color: #738775;
    align-self: center;
}

.in-stock-text {
    color: #113340;
    align-self: center;
}

.Product-info {
    font-size: 1.5rem;
    color: rgb(61, 57, 57);
    margin: 0px;
    align-self: center;
}

.price-shipping-container {
    display: grid;
    grid-template-columns: 1fr auto auto;
}

.price {
    font-weight: bold;
    font-size: 1.5rem
}

.fa-shipping-fast {
    font-size: 1.5rem;
    align-self: center;
    margin-right: 10px;
}

.delivery-text {
    align-self: center;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.star-button-container {
    margin-top: 20px;
    display: flex; 
}

.stars {
    align-self: center;
}

.fa-star,
.fa-star-half {
    color:#ff9e78;
    font-size: 1.5rem;
}

.number-of-reviews {
    color: #738775;
    font-size: 1.2rem;
}

.container-for-containers {
    max-width: 48vh;
}


.checkbox-label {
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(61, 57, 57);
}

.checkbox {
    display: none;
}

.checkbox-label:hover {
    cursor: auto;
}

.product-details-heading {
    font-weight: bold;
}

.product-reveiws-container,
.product-details-container {
    margin-left: 10px;
}


.reveiws-your-name {
    margin: 0px 40px 20px 0px;
    width: 250px;
    height: 25px;
    border-radius: 5px;
    font-size: 1.2rem;
    border: 1px solid rgb(61, 57, 57);
}

.reviews-stars {
    margin-bottom: 20px;
}

.add-reveiw {
    margin: 0px 40px 20px 0px;
    max-width: 400px;
    height: 100px;
    border-radius: 5px;
    font-size: 1.2rem;
    border: 1px solid rgb(61, 57, 57);
    font-family: "moniker", Arial, Helvetica, sans-serif;
}

.others-reveiw-container {
    border: 1px solid rgb(61, 57, 57);
    margin-bottom: 20px;
    align-items: center;
}

.reveiws-from-others,
.reviews-name {
    font-size: 1.2rem;
    color: rgb(61, 57, 57);
}

.reviews-others-stars {
    margin-right: 20px;
}

.star-empty {
    color: #bebdba;
}

.radio-colour:checked + label,
.radio-sizes:checked + label {
    border: 2px solid #00ff34;
}


input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.checkbox-label {
    text-decoration: underline rgb(61, 57, 57);
}
/* Available Colours*/

.colours {
    display: flex;
}

.red {
    border: solid red;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin: 15px;
    background-color: red;
}
.blue {
    border: solid #231887;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin: 15px;
    background-color: #231887;
}
.orange {
    border: solid #ff9e78;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin: 15px;
    background-color: #ff9e78;
}
.pink {
    border: solid #9f14a4;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin: 15px;
    background-color: #9f14a4;
}
.teal {
    border: solid #25ac9a;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin: 15px;
    background-color: #25ac9a;
}

/*Available sizes*/
.sizes {
    display: inline-block;
    background-color: #bebdba;
    margin: 15px 8px 10px 5px;
    padding: 2px;
    min-width: 40px;
    text-align: center;
    font-size: 1.2rem;
}


/* Media Queries for this page*/
@media (min-width: 900px) {
    .product-info-container {
        display: grid;
        grid-template-columns: auto 1fr;
    }

    .Product-info-subcontainer {
        margin: 5px 10px;
    }

    .container-for-containers {
        display: grid;
        grid-template-columns: auto auto auto;
        margin: 100px 0px 30px 0px;
    }

    .product-info-container,
    .container-for-containers {
    max-width: 1000px;
    }

    .product__images {
        max-height: 400px;
    }

    #product-decription,
    #details {
        display: none;
      }
      

    .checkbox-label:hover {
        cursor: pointer;
    }
    
    .checkbox {
        margin-bottom: 20px;
    }
      
    #product-decription:checked ~ .description-text{
        display: none;
    }

    #product-decription:checked ~ .checkbox-label {
        text-decoration: none;
    }
    
    #details:checked ~ .details-text{
        display: none;
    }

    #details:checked ~ .checkbox-label {
        text-decoration: none;
    }

    #reveiws:checked ~ .reveiews-section-one{
        display: none;
    }

    #reveiws:checked ~ .reveiews-section-two{
        display: none;
    }

    #reveiws:checked ~ .checkbox-label {
        text-decoration: none;
    }
    
    .checkbox-label {
        margin: 0px 20px 0px 0px;
    }

    .stars-name-container {
        display: flex;
        justify-content: start;
    }

    .reveiew-button-cotainer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }

    .reveiws-from-others {
        margin-right: 100px;
    }
    
    .others-reveiw-container {
        display: grid;
        grid-template-columns: 150px auto 1fr;
    }

    .add-reveiw {
        width: 400px;
    }

    .reviews-name {
        text-align: center;
    }

}

@media (max-width: 360px) and (min-width: 600px) {
    .product__images {
        width: 50vh;
    }
}