:root {
  --rainydays-blue: #113340;
  --rainydays-green: #738775;
  --rainydays-orange: #ff9e78;
  --rainydays-grey: #bebdba;
  --site-background-white: #efeae6;
  --text-light-grey: rgb(61, 57, 57);
  --heighlight-colour: #00ff34;
}